* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: #00438c;
  padding: 1%;
  color: white;
}

.nbalogo {
  width: 10px;
  width: 200px;
}

.titulop {
  font-size: xx-large;
  margin-right: 5px;
}

.btn-contenedor {
  z-index: 999;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: #da1a32;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;
}

main {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  background: url();
	background-size:cover;
	background-attachment: fixed;
	background-position:0 0px;  
}

footer {
  background-color: #da1a32;
  text-align: center;
  font-weight: 900;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  color: white;
}

.jugadores {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
}

.jugador {
  width: 400px;
  display: flex;
  gap: 15px;
  justify-content: left;
  align-items: center;
  box-shadow: -1px 3px 8px 0px rgba(0, 0, 0, 0.83);
  border-radius: 10px;
  background-color: white;
  height: 500px;
  flex-direction: column;

}

.imgj {
  height: 250px;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

main h1 {
  margin-bottom: 100px;
}



.divinfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.divp {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
}

.divp div {
  display: flex;
 flex-direction: column;
  align-items: center;
}


form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #0074d9;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #0056b3;
}