* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: #00438c;
  padding: 1%;
  color: white;
}

.nbalogo {
  width: 10px;
  width: 200px;
}

.titulop {
  font-size: xx-large;
  margin-right: 5px;
}

.btn-contenedor {
  z-index: 999;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: #da1a32;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;
}

main {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  background: url();
  background-size: cover;
  background-attachment: fixed;
  background-position: 0 0px;
  padding: 40px;
}

footer {
  background-color: #da1a32;
  text-align: center;
  font-weight: 900;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  color: white;
  margin-top: 30px;
}

.jugadores {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 3rem;
}

.jugador {
  width: 550px;
  display: flex;
  gap: 15px;
  justify-content: left;
  align-items: center;
  box-shadow: -1px 3px 8px 0px rgba(0, 0, 0, 0.83);
  border-radius: 10px;
  background-color: white;
  height: 280px;
  flex-direction: row;
}

.imgj {
  height: 280px;
  width: 50%;
  border-radius: 10px 10px 10px 10px;
}

.divinfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 10px;
}

.divp {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
}

.divp div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  color: black;
  display: flex;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="number"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button {
  background-color: #0074d9;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: #0056b3;
}

aside {
  z-index: 998;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  background-color: #0000005c;
  transform: translate(0, -100%);
  transition: all 0.3s ease-out;
  display: flex;
  justify-content: center;
  color: white;
}

.animation {
  animation-duration: 1s;
  animation-name: animacion;
  transform: translate(0, 0);
}

.btn-dc {
  background-color: #fff;
  color: #da1a32;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
  font-size: medium;
  margin: 20px 0;
}

.btn-dc:hover {
  background-color: #da1a32;
  color: #fff;
}

@keyframes animacion {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateY(-250px);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0);
  }

  55% {
    animation-timing-function: ease-in;
    transform: translateY(-65px);
  }

  72% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  81% {
    animation-timing-function: ease-in;
    transform: translateY(-28px);
  }

  90% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  95% {
    animation-timing-function: ease-in;
    transform: translateY(-8px);
  }

  100% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }
}

.btn-borrar {
  width: 30px;
  background-color: #fff;
  border: none;
}

.img-borrar {
  width: 30px;
}
